In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('./02.data.xlsx')

In [3]:
df.columns

Index(['Name', 'Price', 'Discount', 'Result'], dtype='object')

In [4]:
# 计算result列
df.Result = df.Price * df.Discount
df.head(n=3)

     Name  Price  Discount  Result
0  Book_1     10       0.3     3.0
1  Book_2     11       0.4     4.4
2  Book_3     12       0.3     3.6

In [5]:
# 使用匿名函数更新series的值
df.Price = df.Price.apply(lambda x: x*1.1)
df.head(n=3)

     Name  Price  Discount  Result
0  Book_1   11.0       0.3     3.0
1  Book_2   12.1       0.4     4.4
2  Book_3   13.2       0.3     3.6

`help(df.Price.apply)`

>Invoke function on values of Series.
    Can be ufunc (a NumPy function that applies to the entire Series)
    or a Python function that only works on single values.